<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
</head>
<body>
<a href="/">Back</a>
<h1>Patients</h1>
<a href="/patients/add">Add patient</a>
<table border="1px">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>surname</th>
    <th>date of birthday</th>
    <th>action</th>
  </tr>
  <tr th:each="patient:${patients}">
    <td> <span th:text="${patient.id}"></span></td>
    <td> <span th:text="${patient.name}"></span></td>
    <td> <span th:text="${patient.surname}"></span></td>
    <td> <span th:text="${patient.dateOfBirthday}"></span></td>
    <td> <a th:href="@{/patients/remove(id=${patient.id})}">remove</a></td>
  </tr>
</table>
</body>
</html>